# My test

This is a text cell. Start editing!

In [1]:
val scala_val = 3

In [2]:
python_var = 4

In [3]:
val emp = Seq((101, "Amy", Some(2)))
val employee = spark.createDataFrame(emp).toDF(
    "employeeId","employeeName","managerId"
)employee.registerTempTable("employed")

In [4]:
print(scala_val)

3

In [5]:
println(python_var)

4

In [6]:
print(employee)

[employeeId: int, employeeName: string ... 1 more field]

In [7]:
select employeeId from employed

[employeeId: int]